<div class="container-full">
  <div class="card">
    <div class="container-40">
      <div class="avatar"></div>
    </div>
    <div class="container-50">
      <div class="info">
        <div class="name">
          Matthew Aderhold
        </div>
        <div class="title italic">
          Software Engineer<br>
          <small>@ <a href="https://casestatus.com" target="_blank" rel="noopener" class="case-status">Case Status</a></small>
        </div>
      </div>
    </div>
    <div class="social-links bottom">
      <a href="mailto:matthew@aderhold.io" target="_blank" rel="noopener" class="link-email">{{fa-icon "envelope"}}</a>
      <a href="https://www.linkedin.com/in/matthewaderhold/" target="_blank" rel="noopener" class="link-linkedin">{{fa-icon "linkedin"}}</a>
      <a href="https://github.com/AderCode" target="_blank" rel="noopener" class="link-github">{{fa-icon "github"}}</a>
      <a href="https://twitter.com/MatthewAderhold" target="_blank" rel="noopener" class="link-twitter">{{fa-icon "twitter"}}</a>
      <a href="https://www.instagram.com/matthew.aderhold/" target="_blank" rel="noopener" class="link-instagram">{{fa-icon "instagram"}}</a>
    </div>
  </div>
</div>